<div class="flex items-center space-x-2 ">
  <div class="flex flex-col p-4">
    <div class="bg-gray-200 p-2 text-3xl pr-4">Currency RUB</div>
    <div class="bg-gray-200 p-2">{{currentDate | date:'dd.MM.yyyy'}}, {{currentDate | date: 'HH.mm.ss'}}</div>
  </div>

  <div *ngIf="showCurrencies < currenciesArray.length">
    <button class="w-12 h-12 rounded-full border-2 border-black flex justify-center items-center font-bold bg-blue-300"
      (click)="showCurrencies = showCurrencies+1">+</button>
  </div>
  <div *ngIf="showCurrencies > 3">
    <button class="w-12 h-12 rounded-full border-2 border-black flex justify-center items-center font-bold bg-blue-300"
      (click)="showCurrencies = showCurrencies-1">-</button>
  </div>
</div>

<div class="grid grid-cols-1 gap-4">
  <ng-container *ngFor="let currency of currenciesArray; let i = index">
    <div class="flex flex-row items-center p-4" *ngIf="i < showCurrencies">
      <div class="w-11">
        <p class="text-lg font-semibold pr-2">{{ currency.key.slice(-3) }}</p>
      </div>
      <p class="border outline-none border-black px-2 py-1 w-40">
        {{ currency.value }}
        <span *ngIf="previousCurrencies[currency.key] !== undefined">
          ({{ calculateDifference(currency.value, previousCurrencies[currency.key]) }})
        </span>
      </p>
    </div>
  </ng-container>
</div>


<div *ngIf="errorMessage" class="text-red-500 p-4 text-xl">{{ errorMessage }}</div>
<div *ngIf="(6 > currenciesArray.length)" class="text-red-500 p-4 text-xl">{{ 6-currenciesArray.length }} currencies couldn't be loaded, trying again</div>